
@{
    ViewBag.Title = "ADR Contributions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            ADR Contribution
            <small>Preview</small>
        </h1>

    </section>
    <!-- Main content -->
    <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Parameters</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Super Region -->
                        <div class="form-group">
                            <label>Super Region</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option>EMEA</option>
                                <option>APAC</option>
                            </select>
                        </div>
                        <!-- Pos Group -->
                        <div class="form-group">
                            <label>Pos Group</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option>Pos Group #1</option>
                                <option>Pos Group #2</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>


